@import './palette';

.dashboard {
  display: flex;
  min-height: 100vh;
  font-family: 'Roboto';

  .wrap {
    width: 100%;
    display: flex;
    flex-direction: column;

    .content {
      display: flex;
      margin-top: 77px;
      width: 100%;
    }
  }
}
