@import './palette';

.sidebar {
  position: relative;
  max-width: 499px;
  min-width: 400px;
  min-height: 100%;
  flex-shrink: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;

  &.female {
    background-image: url('../assets/woman.png');
  }

  &.male {
    background-image: url('../assets/man.png');
  }
}